{#
/**
 * @file equipment_entity.html.twig
 * Default theme implementation to present Equipment entity data.
 *
 * This template is used when viewing Equipment entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_equipment_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('equipment_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
